$navBg: #252931;
$bodyBg: #232529;
$skyBlue: #00a6ca;
$textPrimary: #f8fdfe;
$border: rgb(93, 93, 93, 0.4);
$grayedOut: #51545a;
$mainFont: 'Roboto';
$condensedFont: 'Roboto Condensed';
$whiteTriangle: #f8fdfe;
